.button {
  width: 100%;
  background: #F59A73;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
}

.button:disabled {
  background: #888;
  cursor: not-allowed;
}